
@{
    ViewData["Title"] = "Analytics";
}

<h1>Analytics</h1>


<p>Number of Verified Users: @ViewData["VerifiedUsersCount"]</p>
<p>Number of Rejected Users: @ViewData["RejectedUsersCount"]</p>
<p>Total Applications: @ViewData["TotalApplicationsCount"]</p>